*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: rgb(233, 230, 230);
}
nav header{
    width:100vw;
    height:80px;
    background: white;
    font-weight: bold;   
}
h2{
    line-height: 80px;
    margin:0px 35px;
}
   

.text{
    font-size: 45px;
    float: right;
    margin-top: 20px;
    color:rgb(87, 189, 236);
    padding: 0px 40px;
    margin-right:183px;
width: 50px;
height: 50px;
/* UI Properties */
background:rgb(233, 230, 230) 0% 0% no-repeat padding-box;
opacity: 1;
}
.text2{
    width: 150px;
    height: 20px;
    font-size: 20px;
    float: right;
    margin-top: -41px;
    margin-right: 24px;
}
.container{
        width: 78%;
    height: 550px;
    margin: auto;
    margin-top: 81px;
    align-items: center;
    
}
.box{
    background-color: rgb(255, 255, 255);
    width:320px;
    height:264px;
    margin: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block;
}
.box:hover {
    box-shadow: 10px 10px 8px 10px #888888;
}

.a1{
    margin: 20px;
    font-size: large;
}
.f1{
    color: black;
    margin-left: 10px;
    font-size: 20px;
}
.popup {
    opacity: 1;
    position: fixed;
    z-index: 1;
    transform: translate(-50%, -100%);
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(37, 37, 37, 0.61);
    align-items: center;
  }
  .Add-New-Task {
    width: 450px;
    height: 200px;
    border: 1px solid rgb(235, 231, 231);
    border-radius: 20px;
    background-color: white;
    font-size: x-large;
    padding: 10px 0px 0px 15px;
    font-weight: bold;
    position: fixed;
    bottom: 210px;
    left: 480px;
   
  }
  .fa-xmark {
    position: absolute;
    left: 430px;
  }
  .input {
    width: 430px;
    height: 40px;
    border-radius: 4px;
    background-color: #f7f7f7;
    border: none;
  }
  @media screen and (max-width:941px){
    
   .box{
    display: block;
    margin:10px -6px;
   }
   nav header{
    width:100vw;
    height:80px;
  
}
  }

